<div class="row">
    <div class="col-12 col-lg-12">
        <table class="table confirm-order-table">
            <thead class="thead-dark">
                <tr>
                  <th scope="col">Item Name</th>
                  <th scope="col">type</th>
                  <th scope="col">SKU ID / Shipping ID</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in order.items %}
                    <tr>
                        <th scope="row" style="vertical-align: middle;">{{item.description}}</th>
                        <td>{{item.type}}</td>
                        <td>
                            {% if item.parent == 'null' %}
                                N/A
                            {% else %}
                                {{item.parent}}
                            {% endif %}

                        </td>

                        <td>
                            {% if item.quantity == 'null' %}
                                0
                            {% else %}
                                {{item.quantity}}
                            {% endif %}

                        </td>
                        <td>
                            £ {{(item.amount / 100) | number_format(2)}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
    </div>
    <div class="col-12 col-lg-12">
        <div class="row">
            <div class="col-12 col-md-6">

            </div>
            <div class="col-12 col-md-6">
                <h4 class="text-right">Total: £ {{(order.amount / 100) | number_format(2)}}</h4>
            </div>
        </div>
    </div>

    {% if metadata_length < 3 %}
        <div class="col-12">
            <br>
            <h4 class="text-danger">UNFORTUNATELY THERE WAS AN ERROR RETRIEVING YOUR SHIPPING DETAILS. PLEASE CONTACT SUPPORT FOR MORE INFORMATION REFERENCING YOUR IDYL ORDER ID NUMBER</h4>
            <br>
            <hr>
            <h4>IDYL ORDER ID: #{{order.id}}</h4>
            <br>
        </div>
    {% else %}
        <div class="col-12">
            <h4>DELIVERY ORDER ID: #{{order.metadata['easypost-order-id']}}<span class="badge badge-success"></span></h4>
            <br>
        </div>
        <div class="col-12 col-lg-12">
            <table class="table confirm-order-table">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">Shipment ID</th>
                      <th scope="col">Tracking Code</th>
                      <th scope="col">Carrier</th>
                      <th scope="col">Item Associated</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in metadata_details %}
                    <tr>
                        <th scope="row" style="vertical-align: middle;">{{order.metadata[item.shipment_id]}}</th>
                        <td>{{order.metadata[item.tracker_code]}}</td>
                        <td>{{item.carrier}}</td>
                        <td>{{item.name}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    {% endif %}
</div>
