<div class="container-fluid products-page-main-container home">

    <!-- <div class="display-box"> -->
        <!-- <pre>
            {{dump(queryDetails.brands_page)}}
        </pre> -->
    <!-- </div> -->

    <div class="row">
        <div class="col-12 breadcrumb-container">
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <!-- render list items dynamically based on $_GET parameters set on products.php -->
                <li class="breadcrumb-item"><a href="/">Home</a></li>

                {% if pagelocation == '/products/gifts' %}

                    <li class="breadcrumb-item"><a href="/products">Products</a></li>
                    <li class="breadcrumb-item active">Gifts</li>

                {% else %}

                    {% if not breadcrumb.one and not breadcrumb.two %}
                        <li class="breadcrumb-item active">Products</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="/products">Products</a></li>
                    {% endif %}

                    {% if breadcrumb.one is defined and not breadcrumb.two is defined %}
                        <li class="breadcrumb-item active">{{breadcrumb.one}}</li>
                    {% endif %}

                    {% if breadcrumb.one is defined and breadcrumb.two is defined %}
                        <li class="breadcrumb-item ">
                            {% if queryDetails.brands_page %}
                                <a href="/{{breadcrumb.one}}">{{breadcrumb.one}}</a>
                            {% else %}
                                <a href="/products/{{breadcrumb.one}}">{{breadcrumb.one}}</a>
                            {% endif %}

                        </li>
                    {% endif %}

                    {% if breadcrumb.two is defined %}
                        <li class="breadcrumb-item active" aria-current="page">{{breadcrumb.two}}</li>
                    {% endif %}

                {% endif %}



              </ol>
              <!--  -->
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex flex-wrap flex-row mobile-filter-ctrl">
            <div class="p-2 d-lg-none">
                <button class="btn btn-primary" @click.prevent="toggleFilter">FILTER</button>
            </div>
        </div>

        <div class="col-12">
            {% if pagelocation == '/products/gifts' %}
                <br>
                <h4 class="text-center section-heading" style="text-transform: uppercase">Showing all Gift products</h4>
                <br>

            {% else %}

                <p class="text-center"><small>{{msg}}</small></p>
                <h4 class="text-center section-heading" style="text-transform: uppercase">Showing {% if queryDetails.category is defined and queryDetails.type is defined %} all {{queryDetails.category}} {{queryDetails.type}} {% elseif queryDetails.category is defined and not queryDetails.type is defined %} {{queryDetails.category}} products {% else %} Products {% endif %}</h4>
                <br>

            {% endif %}


        </div>


        <div class="col-12 d-flex flex-wrap flex-row products-page-content">

            {% if pagelocation == '/products/gifts' %}
                {% set hideFilter = true %}
            {% else %}
                {% set hideFilter = false %}
            {% endif %}

            <div class="p-2 filter filter-mobile closed-filter d-flex flex-wrap flex-row" style="{% if hideFilter %}display: none !important;{% endif %}">

                <div class="p-2">
                    <div id="accordion">

                             <!-- PRODUCT TYPE FILTERS -->
                          <div class="card filter-card">
                            <div class="card-header" id="headingOne">
                              <!-- <h5 class="mb-0">
                                <button v-on:click="toggleSign" class="btn btn-link btn-filter" data-toggle="collapse" data-target="#filter1" aria-expanded="true" aria-controls="filter1">
                                 <span>Product type</span>
                                 <span class="fa fa-minus open-accordion" id="desc"></span>
                                </button>
                              </h5> -->

                              <div v-on:click="toggleSign" class="btn btn-link collapsed btn-filter" data-toggle="collapse" data-target="#filter1" aria-expanded="false" aria-controls="filter1" data-filter-id="#filter1">

                                    <div>Product type</div>
                                    <div class="fa fa-minus open-accordion" data-filter-id="#filte1"></div>

                              </div>
                            </div>

                            <div id="filter1" class="collapse show" aria-labelledby="headingOne" >
                              <div class="card-body">
                                <ul>

                                    <!--
                                        list all living room product types
                                    -->

                                    {% if queryDetails.category == 'all' or queryDetails.category == 'brands'%}

                                        {% for cats in queryDetails.all_cats %}
                                        <template v-if="loaded.filter_list">
                                            <template v-for="(prodtype, index) in products['{{cats}}']">
                                                <filter-item
                                                        v-bind:key="prodtype.key"
                                                        v-bind:filtername="prodtype.name"
                                                        v-bind:activetype="prodtype.currentPage">
                                                </filter-item>
                                            </template>
                                        </template>

                                        {% endfor %}

                                    {% else %}

                                        <!--
                                            list specific product types
                                        -->

                                        <template v-if="loaded.filter_list">
                                            <template v-for="(prodtype, index) in products['{{queryDetails.category}}']">
                                                <filter-item
                                                        v-bind:key="prodtype.key"
                                                        v-bind:filtername="prodtype.name"
                                                        v-bind:activetype="prodtype.currentPage">
                                                </filter-item>
                                            </template>
                                        </template>

                                    {% endif %}

                                </ul>
                              </div>
                            </div>
                          </div>

                             <!-- CATEGORY FILTERS -->
                          <div class="card filter-card">
                            <div class="card-header" id="headingTwo">

                              <div v-on:click="toggleSign" class="btn btn-link collapsed btn-filter" data-toggle="collapse" data-target="#filter2" aria-expanded="false" aria-controls="filter2" data-filter-id="#filter2">

                                    <div>Category</div>
                                    <div class="fa fa-minus open-accordion" data-filter-id="#filter2"></div>

                              </div>
                            </div>
                            <div id="filter2" class="collapse show" aria-labelledby="headingTwo" >
                              <div class="card-body">
                                  <ul>

                                      {% if queryDetails.category == 'all' %}

                                      {% for cats in queryDetails.all_cats %}
                                          <li>
                                              <div class="input-group mb-0 filter-input-group">
                                                  <div class="input-group-prepend filter-input-box">
                                                      <div class="input-group-text filter-input d-flex flex-row">
                                                          <div class="p-2 fltr-inp">
                                                              <input @click="toggleProducts" class="cat-checkbox" name="cat-{{cats}}" type="checkbox" data-category="{{cats}}" aria-label="Checkbox for following text input">
                                                          </div>

                                                          <div class="p-2 fltr-inp">
                                                              <p>{{cats | capitalize }}</p>
                                                          </div>

                                                      </div>
                                                  </div>
                                              </div>
                                          </li>
                                      {% endfor %}

                                      {% else %}

                                      <li>
                                          <div class="input-group mb-0 filter-input-group">
                                              <div class="input-group-prepend filter-input-box">
                                                  <div class="input-group-text filter-input d-flex flex-row">
                                                      <div class="p-2 fltr-inp">
                                                          <input @click="toggleProducts" class="cat-checkbox" name="cat-{{queryDetails.category}}" type="checkbox" data-category="{{queryDetails.category}}" aria-label="Checkbox for following text input" checked>
                                                      </div>

                                                      <div class="p-2 fltr-inp">
                                                          <p>{{ queryDetails.category | capitalize }}</p>
                                                      </div>

                                                  </div>
                                              </div>
                                          </div>
                                      </li>

                                      {% endif %}
                                  </ul>
                              </div>
                            </div>
                          </div>

                            <!-- BRAND FILTERS -->
                          <div class="card filter-card">
                            <div class="card-header" id="headingThree">
                              <div v-on:click="toggleSign" class="btn btn-link collapsed btn-filter" data-toggle="collapse" data-target="#filter3" aria-expanded="false" aria-controls="filter3" data-filter-id="#filter3">

                                    <div>Brands</div>
                                    <div class="fa fa-minus open-accordion" data-filter-id="#filter3"></div>

                              </div>
                           </div>
                           <div id="filter3" class="collapse show" aria-labelledby="headingThree" >
                              <div class="card-body">
                                  <ul>
                                      {% for brands in queryDetails.all_brands %}

                                      <!-- loop through brand_letter_array -->
                                          {% for brand in brands.brand_array %}

                                          <li>
                                              <div class="input-group mb-0 filter-input-group">
                                                  <div class="input-group-prepend filter-input-box">
                                                      <div class="input-group-text filter-input d-flex flex-row">
                                                          <div class="p-2 fltr-inp">
                                                              <input @click="toggleBrand" class="cat-checkbox" name="brand-{{brand.brand_slug}}" type="checkbox" data-brand-name="{{brand.brand_slug}}" aria-label="Checkbox for following text input" {% if brand.brand_slug == queryDetails.brand_slug %} checked {% endif %}>
                                                          </div>

                                                          <div class="p-2 fltr-inp">
                                                              <p>{{ brand.brand_name | capitalize }}</p>
                                                          </div>

                                                      </div>
                                                  </div>
                                              </div>
                                          </li>
                                          {% endfor %}
                                      {% endfor %}
                                  </ul>
                              </div>
                            </div>
                          </div>

                            <!-- PRICE FILTERS -->
                         <div class="card filter-card">
                           <div class="card-header" id="headingThree">

                             <div v-on:click="toggleSign" class="btn btn-link collapsed btn-filter" data-toggle="collapse" data-target="#filter4" aria-expanded="false" aria-controls="filter4" data-filter-id="#filter4">

                                   <div>Price</div>
                                   <div class="fa fa-minus open-accordion" data-filter-id="#filter4"></div>

                             </div>
                          </div>
                          <div id="filter4" class="collapse show" aria-labelledby="headingThree" >
                             <div class="card-body">
                                 <ul>
                                     <li>
                                         <div class="input-group mb-0 filter-input-group">
                                             <div class="input-group-prepend filter-input-box">
                                                 <div class="input-group-text filter-input d-flex flex-row">
                                                     <div class="p-2 fltr-inp">
                                                         <input name="lowtohigh" type="checkbox" data-prod-type="price" aria-label="Checkbox for following text input">
                                                     </div>

                                                     <div class="p-2 fltr-inp">
                                                         <p>
                                                         {{'low to high' |camel_case()}}
                                                        </p>
                                                     </div>

                                                 </div>
                                             </div>
                                         </div>
                                     </li>

                                     <li>
                                         <div class="input-group mb-0 filter-input-group">
                                             <div class="input-group-prepend filter-input-box">
                                                 <div class="input-group-text filter-input d-flex flex-row">
                                                     <div class="p-2 fltr-inp">
                                                         <input name="hightolow" type="checkbox" data-prod-type="price" aria-label="Checkbox for following text input">
                                                     </div>

                                                     <div class="p-2 fltr-inp">
                                                         <p>{{'high to low' |camel_case()}}</p>
                                                     </div>

                                                 </div>
                                             </div>
                                         </div>
                                     </li>
                                 </ul>
                             </div>
                           </div>
                         </div>

                    </div>
                    <!-- end of accordion-->
                </div>

                <div class="p-2 d-lg-none">
                    <div class="filter-close">
                        <span class="fa fa-close"></span>
                    </div>
                </div>

            </div>
            <div class="p-2 products-page-container {% if hideFilter %}products-full-width{% endif %}">
                <div class="row" id="products-row">

                        <div class="loader-screen loader-filter">
                            <div class="spinner">
                                <div class="double-bounce1"></div>
                                <div class="double-bounce2"></div>
                            </div>
                        </div>

                        {% if queryDetails.num_of_products == 'gifts' %}

                            {% for product in queryDetails.products.data %}

                                {% for sku in product.skus.data %}

                                    {% if sku.attributes.gift == 'true' %}
                                    <div class="col-6 col-md-4 col-lg-3 product-card-col">
                                        <div class="card product-card" style="">
                                            <div class="product-image">
                                                <img class="card-img-top" src="{{sku.image}}" alt="{{product.caption}}">
                                            </div>
                                            <div class="card-body">
                                                <h6 class="card-subtitle mb-2"><a href="/product/{{sku.attributes.category}}/{{sku.attributes.type}}/{{product.metadata.slug}}-{{sku.attributes.color}}-{{sku.attributes.size}}/{{product.id}}/{{sku.id}}">{{product.name}} - {{sku.attributes.color | capitalize}} - {% if skuprod.attributes.size != 'none'%} {{sku.attributes.size | capitalize}} {% endif %}</a></h6>
                                                <h6 class="">{{sku.attributes.category | camel_case()}}</h6>
                                                <p class="product-price-p"><strong>£ {{(sku.price / 100) | number_format(2)}}</strong> </p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}

                                {% endfor %}

                            {% endfor %}

                        {% endif %}


                        {% if queryDetails.num_of_products == 'all' %}

                            {% for product in queryDetails.products.data %}

                                {% for sku in product.skus.data %}
                                    <div class="col-6 col-md-4 col-lg-3 product-card-col">
                                        <div class="card product-card" style="">
                                            <div class="product-image">
                                                <img class="card-img-top" src="{{sku.image}}" alt="{{product.caption}}">
                                            </div>
                                            <div class="card-body">
                                                <h6 class="card-subtitle mb-2"><a href="/product/{{sku.attributes.category}}/{{sku.attributes.type}}/{{product.metadata.slug}}-{{sku.attributes.color}}-{{sku.attributes.size}}/{{product.id}}/{{sku.id}}">{{product.name}} - {{sku.attributes.color | capitalize}} {% if sku.attributes.size != 'none'%} - {{sku.attributes.size | capitalize}} {% endif %}</a></h6>
                                                <h6 class="">{{sku.attributes.category | camel_case()}}</h6>
                                                <p class="product-price-p"><strong>£ {{(sku.price / 100) | number_format(2)}}</strong> </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            {% endfor %}

                        {% endif %}

                        {% if queryDetails.num_of_products == 'all-cat' %}

                            {% for product in queryDetails.products.data %}
                                {% for sku in product.skus.data %}
                                    {% if sku.attributes.category == queryDetails.category %}
                                    <div class="col-6 col-md-4 col-lg-3 product-card-col">
                                        <!-- <p>{{sku.id}}</p> -->
                                        <div class="card product-card" style="">
                                            <div class="product-image">
                                                <img class="card-img-top" src="{{sku.image}}" alt="{{product.caption}}">
                                            </div>
                                            <div class="card-body">
                                                <h6 class="card-subtitle mb-2"><a href="/product/{{sku.attributes.category}}/{{sku.attributes.type}}/{{product.metadata.slug}}-{{sku.attributes.color}}-{{sku.attributes.size}}/{{product.id}}/{{sku.id}}">{{product.name}} - {{sku.attributes.color | capitalize}} {% if sku.attributes.size != 'none'%} - {{sku.attributes.size | capitalize}} {% endif %}</a></h6>
                                                <p class="product-price-p"><strong>£ {{(sku.price / 100) | number_format(2)}}</strong> </p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                        {% endif %}

                        {% if queryDetails.num_of_products == 'specific' %}
                            {% for product in queryDetails.products.data %}
                                {% for sku in product.skus.data %}
                                    {% if sku.attributes.category == queryDetails.category and sku.attributes.type == queryDetails.type %}
                                    <div class="col-6 col-md-4 col-lg-3 product-card-col">
                                        <!-- <p>{{sku.id}}</p> -->
                                        <div class="card product-card" style="">
                                            <div class="product-image">
                                                <img class="card-img-top" src="{{sku.image}}" alt="{{product.caption}}">
                                            </div>
                                            <div class="card-body">
                                                <h6 class="card-subtitle mb-2"><a href="/product/{{sku.attributes.category}}/{{sku.attributes.type}}/{{product.metadata.slug}}-{{sku.attributes.color}}-{{sku.attributes.size}}/{{product.id}}/{{sku.id}}">{{product.name}} - {{sku.attributes.color | capitalize}} {% if sku.attributes.size != 'none'%} - {{sku.attributes.size | capitalize}} {% endif %}</a> </h6>
                                                <p class="product-price-p"><strong>£ {{(sku.price / 100) | number_format(2)}}</strong> </p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}


                        {% endif %}

                        {% if queryDetails.num_of_products == 'specific' and queryDetails.brands_page %}
                            {% for product in queryDetails.products.data %}
                                <!-- <p>{{queryDetails.brand_clean}}</p> -->
                                <!-- <p>{{product.metadata.brand}}</p> -->
                                {% if product.metadata.brand | lower == queryDetails.brand_clean | lower %}
                                    {% for sku in product.skus.data %}
                                        <div class="col-6 col-md-4 col-lg-3 product-card-col">
                                            <div class="card product-card" style="">
                                                <div class="product-image">
                                                    <img class="card-img-top" src="{{sku.image}}" alt="{{product.caption}}">
                                                </div>
                                                <div class="card-body">
                                                    <h6 class="card-subtitle mb-2"><a href="/product/{{sku.attributes.category}}/{{sku.attributes.type}}/{{product.metadata.slug}}-{{sku.attributes.color}}-{{sku.attributes.size}}/{{product.id}}/{{sku.id}}">{{product.name}} - {{sku.attributes.color | capitalize}} {% if sku.attributes.size != 'none'%} - {{sku.attributes.size | capitalize}} {% endif %}</a> </h6>
                                                    <p class="product-price-p"><strong>£ {{(sku.price / 100) | number_format(2)}}</strong> </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                {% endif %}
                            {% endfor %}


                        {% endif %}

                        <!-- <product-card></product-card> -->

                </div>

                {% if queryDetails.products.has_more %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <br>
                            <button class="btn btn-primary">Show more</button>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
