<div class="container-fluid products-page-main-container home">

    <div class="row">
        <div class="col-12 breadcrumb-container">
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <!-- render list items dynamically based on $_GET parameters set on products.php -->

                <li class="breadcrumb-item"><a href="/">Home</a></li>

                {% if not breadcrumb.one and not breadcrumb.two %}
                    <li class="breadcrumb-item active">Products</li>
                {% else %}
                    <li class="breadcrumb-item"><a href="/products">Products</a></li>
                {% endif %}

                {% if breadcrumb.one is defined and not breadcrumb.two is defined %}
                    <li class="breadcrumb-item active">{{breadcrumb.one}}</li>
                {% endif %}

                {% if breadcrumb.one is defined and breadcrumb.two is defined %}
                    <li class="breadcrumb-item ">
                        <a href="/products/{{breadcrumb.one}}">{{breadcrumb.one}}</a>
                    </li>
                {% endif %}

                {% if breadcrumb.two is defined %}
                    <li class="breadcrumb-item active" aria-current="page">{{breadcrumb.two}}</li>
                {% endif %}

              </ol>
              <!--  -->
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if queryDetails.products is defined %}
                <!-- <pre>{{ queryDetails.products}}</pre> -->
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex flex-wrap flex-row mobile-filter-ctrl">
            <div class="p-2">
                <button class="btn btn-primary" @click.prevent="toggleFilter">FILTER</button>
            </div>
        </div>
        <div class="col-12 d-flex flex-wrap flex-row products-page-content">
            <div class="p-2 filter filter-mobile closed-filter d-flex flex-wrap flex-row">

                <div class="p-2">
                    <div id="accordion">

                          <div class="card">
                            <div class="card-header" id="headingOne">
                              <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#filter1" aria-expanded="true" aria-controls="filter1">
                                 Brands
                                </button>
                              </h5>
                            </div>

                            <div id="filter1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                              <div class="card-body">
                                <ul>
                                    <li>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                              </div>
                            </div>
                          </div>

                          <!--  -->
                          <div class="card">
                            <div class="card-header" id="headingTwo">
                              <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#filter2" aria-expanded="false" aria-controls="filter2">
                                  filter-2
                                </button>
                              </h5>
                            </div>
                            <div id="filter2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                              <div class="card-body">
                                  <ul>
                                      <li>
                                          <div class="input-group mb-3">
                                              <div class="input-group-prepend">
                                                  <div class="input-group-text">
                                                      <input type="checkbox" aria-label="Checkbox for following text input">
                                                  </div>
                                              </div>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                            </div>
                          </div>

                          <!--  -->
                          <div class="card">
                            <div class="card-header" id="headingThree">
                              <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#filter3" aria-expanded="false" aria-controls="filter3">
                                  filter-3
                                </button>
                              </h5>
                           </div>
                           <div id="filter3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                              <div class="card-body">
                                  <ul>
                                      <li>
                                          <div class="input-group mb-3">
                                              <div class="input-group-prepend">
                                                  <div class="input-group-text">
                                                      <input type="checkbox" aria-label="Checkbox for following text input">
                                                  </div>
                                              </div>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                            </div>
                         </div>
                         <!--  -->

                         <!--  -->
                         <div class="card">
                           <div class="card-header" id="headingThree">
                             <h5 class="mb-0">
                               <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#filter4" aria-expanded="false" aria-controls="filter4">
                                 filter-4
                               </button>
                             </h5>
                          </div>
                          <div id="filter4" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                             <div class="card-body">
                                 <ul>
                                     <li>
                                         <div class="input-group mb-3">
                                             <div class="input-group-prepend">
                                                 <div class="input-group-text">
                                                     <input type="checkbox" aria-label="Checkbox for following text input">
                                                 </div>
                                             </div>
                                         </div>
                                     </li>
                                 </ul>
                             </div>
                           </div>
                        </div>
                        <!--  -->

                        <!--  -->
                        <div class="card">
                          <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#filter5" aria-expanded="false" aria-controls="filter5">
                                filter-5
                              </button>
                            </h5>
                         </div>
                         <div id="filter5" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <ul>
                                    <li>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <input type="checkbox" aria-label="Checkbox for following text input">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                          </div>
                       </div>
                       <!--  -->
                    </div>
                    <!-- end of accordion-->
                </div>

                <div class="p-2">
                    <div class="filter-close">
                        <span class="fa fa-close"></span>
                    </div>
                </div>

            </div>
            <div class="p-2 products-page-container">
                <div class="row">
                    <!-- NOTE: COLUMN WILL GO IN A FOR LOOP  -->
                        <div class="col-12">
                            <p class="text-center"><small>{{msg}}</small></p>
                            <h4 class="text-center">Showing all {% if queryDetails.category is defined and queryDetails.type is defined %} {{queryDetails.category}} {{queryDetails.type}} {% elseif queryDetails.category is defined and not queryDetails.type is defined %} {{queryDetails.category}} products {% else %} Products {% endif %}</h4>
                            <br>

                        </div>

                        {% if queryDetails.num_of_products == 'all' %}

                            {% for product in queryDetails.products.data %}

                                {% for sku in product.skus.data %}
                                    <div class="col-6 col-md-4 col-lg-3 product-card-col">
                                        <div class="card product-card" style="">
                                            <div class="product-image">
                                                <img class="card-img-top" src="{{sku.image}}" alt="{{product.caption}}">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <a href="/product/{{sku.attributes.category}}/{{sku.attributes.type}}/{{product.metadata.slug}}-{{sku.attributes.color}}-{{sku.attributes.size}}/{{product.id}}/{{sku.id}}">{{product.name}}</a>
                                                </h5>
                                                <h6 class="card-subtitle mb-2 text-muted">{{sku.attributes.color | capitalize}} - {{sku.attributes.size | capitalize}}</h6>
                                                <h6 class="">{{sku.attributes.category | camel_case()}}</h6>
                                                <hr>
                                                <p><strong>£ {{(sku.price / 100) | number_format(2)}}</strong> </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            {% endfor %}

                        {% endif %}

                        {% if queryDetails.num_of_products == 'all-cat' %}

                            {% for product in queryDetails.products.data %}
                                {% for sku in product.skus.data %}
                                    {% if sku.attributes.category == queryDetails.category %}
                                    <div class="col-6 col-md-4 col-lg-3 product-card-col">
                                        <!-- <p>{{sku.id}}</p> -->
                                        <div class="card product-card" style="">
                                            <div class="product-image">
                                                <img class="card-img-top" src="{{sku.image}}" alt="{{product.caption}}">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <a href="/product/{{sku.attributes.category}}/{{sku.attributes.type}}/{{product.metadata.slug}}-{{sku.attributes.color}}-{{sku.attributes.size}}/{{product.id}}/{{sku.id}}">{{product.name}}</a>
                                                </h5>
                                                <h6 class="card-subtitle mb-2 text-muted">{{sku.attributes.color | capitalize}} - {{sku.attributes.size | capitalize}}</h6>
                                                <hr>
                                                <p><strong>£ {{(sku.price / 100) | number_format(2)}}</strong> </p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}

                        {% endif %}

                        {% if queryDetails.num_of_products == 'specific' %}
                            {% for product in queryDetails.products.data %}
                                {% for sku in product.skus.data %}
                                    {% if sku.attributes.category == queryDetails.category and sku.attributes.type == queryDetails.type %}
                                    <div class="col-6 col-md-4 col-lg-3 product-card-col">
                                        <!-- <p>{{sku.id}}</p> -->
                                        <div class="card product-card" style="">
                                            <div class="product-image">
                                                <img class="card-img-top" src="{{sku.image}}" alt="{{product.caption}}">
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <a href="/product/{{sku.attributes.category}}/{{sku.attributes.type}}/{{product.metadata.slug}}-{{sku.attributes.color}}-{{sku.attributes.size}}/{{product.id}}/{{sku.id}}">{{product.name}}</a>
                                                </h5>
                                                <h6 class="card-subtitle mb-2 text-muted">{{sku.attributes.color | capitalize}} - {{sku.attributes.size | capitalize}}</h6>
                                                <hr>
                                                <p><strong>£ {{(sku.price / 100) | number_format(2)}}</strong> </p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}


                        {% endif %}

                        <!-- <product-card></product-card> -->

                </div>

                {% if queryDetails.products.has_more %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <br>
                            <button class="btn btn-primary">Show more</button>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
