<div class="container-fluid products-container home">
    <div class="row">
        <div class="col-12 breadcrumb-container">
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/products">Products</a></li>
                <li class="breadcrumb-item"><a href="/products/{{category}}">{{category}}</a></li>
                <li class="breadcrumb-item"><a href="/products/{{category}}/{{type}}">{{type}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{product.name |start_case}} - {{skuprod.attributes.color |start_case()}} - {{skuprod.attributes.size}}</li>
              </ol>
              <!--  -->
            </nav>
        </div>
        <div class="col-12 col-md-6 d-flex flex-row flex-wrap" id="product-page-image">
            <!-- <pre>
                {{dump(skuprod)}}
            </pre> -->
            <div class="p-2 product-image-main">
                <img src="{{skuprod.image}}" id="main" alt="product image 1">
            </div>
            <div class="p-2 prodimg-box">
                <img src="{{skuprod.image}}" alt="product image 2">
                <img src="{{skuprod.image}}" alt="product image 2">
                <img src="{{skuprod.image}}" alt="product image 2">
                <img src="{{skuprod.image}}" alt="product image 2">
            </div>


        </div>

        <div class="col-12 col-md-6">
            <div class="row d-flex flex-row flex-wrap">
                <div class="p-2 product-info-sp">

                    <ul>
                        <li><h4>{{product.name |start_case}} - {{skuprod.attributes.color |start_case()}} - {{skuprod.attributes.size |start_case()}}</h4></li>
                        <li>£&nbsp;{{(skuprod.price/100)|number_format(2)}}</li>

                        <li>
                            <div class="addBasket-row">
                                <div class="box">
                                    <p id="quantity-count">1</p>
                                </div>
                                <div class="box">
                                    <p @click="addtoQuant"><span class="fa fa-plus" ></span></p>
                                    <p @click="minustoQuant"><span class="fa fa-minus" ></span></p>
                                </div>
                                <div class="box" data-product-info="{{skuprod|json_encode()}}" v-on:click="addToBasket">
                                    &plus;&nbsp;Add to Bag
                                </div>
                                <div class="box">
                                    <p id="wishlist-heart" data-product-info="{{skuprod|json_encode()}}" v-on:click="addToWishlist"><span data-product-info="{{skuprod|json_encode()}}"class="wishlist-heart-icon fa fa-heart-o"></span></p>
                                </div>
                            </div>
                        </li>

                    </ul>


                </div>
            </div>


            <div id="accordion" role="tablist">


                        <!-- cards will be used for the accordion in products description, shipping and returns information

                        quantity for item must be selected

                        add items to wishlist heart must be visible. (Only in use if user has account e.g logged in) -->



                    <div class="card pr-info-card">
                        <div class="card-header" role="tab" id="pr_description">
                            <h5 class="mb-0">
                                <a class="pr-info-link" data-toggle="collapse" href="#prod-description" role="button" aria-expanded="true" aria-control="prod_description">
                                    description
                                    <span class="fa fa-minus open-accordion" id="desc"></span>
                                </a>
                            </h5>
                        </div>

                        <div id="prod-description" class="collapse show" role="tabpanel" aria-labelledby="description" data-parent="#accordion">
                            <div class="card-body">
                                <strong>{{product.description}}</strong>

                                {% if skuprod.attributes.detail_bullets is defined %}
                                    <ul>
                                        {% for bullet in skuprod.attributes.detail_bullets %}
                                            <li>&nbsp;{{bullet | camel_case()}}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}

                            </div>
                        </div>
                    </div>


                    <div class="card pr-info-card">
                        <div class="card-header" role="tab" id="pr_shipping">
                            <h5 class="mb-0">
                                <a class="pr-info-link" data-toggle="collapse" href="#prod-shipping" role="button" aria-expanded="true" aria-control="prod_description">
                                    shipping
                                    <span class="fa fa-plus closed-accordion" id="shipping"></span>
                                </a>
                            </h5>
                        </div>

                        <div id="prod-shipping" class="collapse" role="tabpanel" aria-labelledby="description" data-parent="#accordion">
                            <div class="card-body">

                                <pre>
                                    {{ basket }}
                                </pre>

                            </div>
                        </div>
                    </div>

                    <div class="card pr-info-card">
                        <div class="card-header" role="tab" id="pr_returns">
                            <h5 class="mb-0">
                                <a class="pr-info-link"data-toggle="collapse" href="#prod-returns" role="button" aria-expanded="true" aria-control="prod_description">
                                    returns
                                    <span class="fa fa-plus closed-accordion" id="return"></span>
                                </a>
                            </h5>
                        </div>

                        <div id="prod-returns" class="collapse" role="tabpanel" aria-labelledby="description" data-parent="#accordion">
                            <div class="card-body">

                                <!-- <button class="btn btn-info payOrder" v-on:click="payment" data-customer="" data-shipping-address="true">Confirm order & pay order</button> -->

                                <pre>

                                </pre>
                            </div>
                        </div>
                    </div>

                </div>

        </div>

        <!-- <div class="col-12">
            <div class="">

            </div>

        </div> -->

        <div class="col-12 related-products">
            <hr style="background-color: #222">
            <h5 class="text-center">you might also like</h5>

            <div class="row related-products-row">
                {% include 'featured.html.twig' %}
            </div>
        </div>
    </div>
</div>
